.openForm {
    width: 25rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    background: rgb(236, 233, 233);
    border-radius: .3rem;
    box-shadow: 0px 1px 7px -2px #888888;
    padding: 2rem;

}

.openForm>input,
button {
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .2rem;
    /* box-shadow: 0px 1px 7px -2px #888888; */
}

.openForm>button {
    background-color: rgb(212, 206, 206);
    /* box-shadow: 0px 1px 7px -2px #888888; */
}