.ticket {
  background-color: white;
  margin: 1rem;
  min-height: 10rem;
  text-align: left;
  display: flex;
  padding: 0.5rem 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 0.2rem;
  justify-content: space-between;

  &:hover {
    box-shadow: 0px 1px 7px -2px #888888;
  }

  &__actions {
    display: flex;

    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.ticket .ticket__actions button {
  margin: 0 0.3rem;
  border-style: none;
  padding: 0.5rem;
  align-items: flex-end;
}
