.ticketPopUp{
    height: 100%;
    width: 100%;
    background-color: rgba(238, 233, 233, 0.648);
    z-index: 1;
    position: fixed;
    left: 0%;
    top: 0%;
    text-align: right;
    display: flex;
    flex-direction: row;
    padding: 1rem;

}

.ticketPopUp__body{
    margin-left: 1rem;
    text-align: left;
    height: 70%;
    width: 70%;
    background-color: white;
    border: solid;
    box-shadow: 0px 5px 15px -1px #888888;
    border-radius: .5rem;
    padding: 2rem;
    position: fixed;
    left: 12.5%;
    top:10%;
    
}
.ticketPopUp__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticketPopUp__header input {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    width: 90%;
    margin-bottom: 1rem;

}

.ticketPopUp__details {
    font-size: 1.5rem;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}
.ticketPopUp__details textarea {
    font-size: 1.5rem;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    height: 90%;
}
.ticketPopUp__details textarea:focus {
    outline: solid black;
    border-radius: .3rem;
}
.ticketPopUp__header input:focus {
    outline: solid black;
    border-radius: .3rem;
}
.ticketPopUp__details input:focus {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
}
.ticketPopUp__editIcon{
    color: green;
}

.ticketPopUp__closeButton{
    position: fixed;
    right: 5rem;
    top:5rem
}

