.navBar {
  background-color: #f2f2f3;
  box-shadow: 0px 3px 10px -2px #888888;
  z-index: 1;
  height: 100vh;
  padding: 1rem 1rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.5s, transform 0.5s;

  &__closeButton {
    margin-left: -0.5rem;
  }
}
